body {
	background-color: #FFFFFF;
	font-family: "Century Gothic", "Verdana", "sans-serif";
	color: #444444;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 84px;
	letter-spacing: 8px;
	margin: 40px 0px 20px;
	padding: 0;
}

h2 {
	font-size: 30px;
	margin: 15px 0px;
	padding: 0;
}

h3 {
	font-size: 30px;
	letter-spacing: 1px;
	word-spacing: 3px;
	margin: 25px 0px;
	padding: 0;
}

h6 {
	font-size: 24px;
	margin: 8px 0px;
	padding: 0;
}

p {
	font-size: 15px;
	margin: 8px 0px;
	padding: 0;
}

ul {
	list-style-type: none;
	text-align: center;
	margin: 10px 0px;
	padding: 0;
}

li {
	display: inline;
	margin: 0;
	padding: 0px 10px;
}

a {
	color: #006688;
}

nav {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}

nav ul {
	margin: 0;
	overflow: hidden;
}

nav li {
	float: left;
	text-align: center;
	padding: 0;
}

nav .menu {
	float: right;
}

nav .menu li:hover {
	background-color: #EFEFEF;
}

nav a {
	display: block;
	padding: 20px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

nav li.dropdown {
	display: none;
	padding: 27px;
}

nav li.dropdown a {
	padding: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

nav li.down-arrow a {
	border-top: 8px solid #006688;
}

nav li.up-arrow a {
	border-bottom: 8px solid #006688;
}

@media screen and (max-width: 720px) {

	nav li {
		display: block;
		float: none;
		text-align: left;
	}

	nav .menu {
		float: none;
	}

	nav .menu a {
		padding: 10px 30px;
		font-size: 16px;
	}
	
	nav li.dropdown {
		display: inline;
		float: right;
	}

	nav .default {
		display: none;
	}

}

#title {
	text-align: center;
	background-color: #129FA8;
	background: radial-gradient(#1BBBC4, #0D9199);
	color: #FFFFFF;
	margin: 0;
	padding: 20px;
}

section {
	background-color: #FFFFFF;
	margin: 0;
	padding: 20px 7% 30px;
}

#updates {
	text-align: center;
	padding: 20px;
	background-color: #028087;
	color: #FFFFFF;
}

#about {
	text-align: center;
	border-bottom: solid 3px #028087;
}
